*{
margin:20px;
background:#A3E4D7;
}
h1{
color:#F39C12;
background:#FFFFFF
font-size:50px;
}/* CSS Document */
h2
{
color:#F4D03F;
background:#999999;
font-family:Verdana, Arial, Helvetica, sans-serif
}
